fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
passlib[bcrypt]
pydantic-settings
email-validator
routers
pandas
numpy
typing-extensions
typing
alembic
sqlalchemy
asyncpg
alembic
pydantic
httpx
requests
requests-cache
retry-requests
openmeteo-requests
python-dotenv
pandas
apscheduler
